<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="equipment" class="model.Equipment">
        <property name="name" value="九三式纯氧鱼雷"/>
        <property name="type" value="设备"/>
        <property name="level" value="T3"/>
    </bean>

    <bean id="equipmentProxy" class="model.EquipmentProxy"/>

    <aop:aspectj-autoproxy/>

</beans>